<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangwenlong.librarycms.mapper.UserMapper">


<!--    登录，根据用户名和密码判断数据库是否存在-->
    <select id="login" resultType="com.zhangwenlong.librarycms.entity.User">
        select * from user where name=#{name} and password=#{password}
    </select>
<!--    查询所有用户数据-->
    <select id="selectUserAll" resultType="com.zhangwenlong.librarycms.entity.User">
        select * from user
    </select>

<!--    添加新用户，id是数据库自增，不需要传值-->
    <insert id="insertUser" >
        insert into user(name,password,sex,birthday) values (#{name},#{password},#{sex},#{birthday})
    </insert>
<!--    User实体类有哪些数据就修改哪些-->
    <update id="updateUser" parameterType="com.zhangwenlong.librarycms.entity.User">
        update user
        <set>
            <if test="name!=null"> name = #{name}, </if>
            <if test="password!=null">password=#{password},</if>
            <if test="sex!=null">sex = #{sex},</if>
            <if test="birthday!=null">birthday = #{birthday}</if>
        </set>
        where id = #{id}
    </update>
<!--根据用户ID删除-->
    <delete id="deleteUserById" parameterType="int">
        delete from user where id=#{id}
    </delete>
</mapper>